#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card{
  border: 1px solid #ccc;
  /*da el ancho para las cards*/
  margin: 7px;
}

.imagenCard {
  width: 250px;
  height: 200px;
}


.contenedor-principal{
  display: flex;
  flex-wrap: wrap;

}

.header {
  text-align: center;
  padding: 20px 0; 
}